@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="homeAdminContainer">
    <div class="py-5">
        <div class="container">
            <div class="row hidden-md-up">
                <div class="col-md-7">
                    <form id="filterHome">
                        <div class="main">
                            <div class="input-group">
                                <input type="text" class="form-control" id="description" name="description" placeholder="Search by description">
                                <div class="input-group-append" style="margin-right: 10%">
                                    <button class="btn btn-secondary" type="button" data-action-product="searchByFilter">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control" id="id" name="id" placeholder="Search by id">
                                <div class="input-group-append" style="margin-right: 3%">
                                    <button class="btn btn-secondary" type="button" data-action-product="searchByFilter">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                                <button type="submit" class="btn btn-primary" style="align-self: center" data-action-product="clearSearch">Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="dataContainer">
        @await Html.PartialAsync("RenderProductsCardWithFilter")
    </div>
</div>